.container{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.all-products{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single-product {
    border: 1px solid #044d7d;
    margin: 1rem;
    border-radius: 1rem;
}
.single-product img {
    width: 90%;
    border-bottom: 2px solid gray;
}
.single-product h4 {
    margin: 0;
}
.single-product button {
    margin: .7rem 0;
    padding: .4rem .8rem;
    background-color: #044d7d;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    color : white;
}
.cart-products {
    width: 30%;
    background: #ccc;
    margin-top: 1rem;
    border-radius: 1rem;
}
.cart-products h2 {
    text-decoration: underline;
}